.home {
  &__img {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("/assets/img/header-img.jpg");
    background-size: cover;
    background-position: center;
  }
  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
  }
  &__text{
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 3em;
    transform: translate(-50%,-50%);
    color: #fff;
    z-index: 5;
  }
}
