<section>
<div class="px-4 py-5 my-5 text-center">
    <i class="fas fa-cog d-block mx-auto mb-4" style="font-size: 5rem"></i>
    <h1 class="display-5 fw-bold text-body-emphasis" style="font-size: 2em;">Panel Administatora</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4" style="font-size: 2rem; font-weight: 300">
        Witamy na platformie zarządzania zespołem folklorystycznym Kojsowiocki!
        Dziel się, koordynuj, inspiruj.
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center"></div>
    </div>
  </div>
  <div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom">Zarządaj</h2>

    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
      <div class="col d-flex flex-column align-items-start gap-2">
        <h2 class="fw-bold text-body-emphasis">Uczesnicy zespołu</h2>
        <p class="text-body-secondary">
          Poznaj nas bliżej: Wszyscy członkowie na wyciągnięcie kliknięcia.
        </p>
        <a routerLink="/baza/dane" class="btn btn-danger btn-lg">Kliknij</a>
      </div>

      <div class="col">
        <div class="row row-cols-1 row-cols-sm-2 g-4">
          <div class="col d-flex flex-column gap-2">
            <h4 class="fw-semibold mb-0 text-body-emphasis">Dodaj członka</h4>
            <p class="text-body-secondary">
              Poszerz zasięg: Dodaj nowe talenty
            </p>
            <a routerLink="/baza/dodaj-czlonka" class="btn btn-danger btn-lg">Kliknij</a>
          </div>

          <div class="col d-flex flex-column gap-2">
            <h4 class="fw-semibold mb-0 text-body-emphasis">Dokumenty</h4>
            <p class="text-body-secondary">
              Pobierz dokumenty: Zarządzaj informacjami zespołu
            </p>
            <a routerLink="/baza/dokumenty" class="btn btn-danger btn-lg">Kliknij</a>
          </div>

          <div class="col d-flex flex-column gap-2">
            <h4 class="fw-semibold mb-0 text-body-emphasis">Rekwizyty</h4>
            <p class="text-body-secondary">
              Zarządzaj zapasami: Tabela z rekwizytami.
            </p>
            <a routerLink="/baza/rekwizyty" class="btn btn-danger btn-lg">Kliknij</a>
          </div>

          <div class="col d-flex flex-column gap-2">
            <h4 class="fw-semibold mb-0 text-body-emphasis">Grafik</h4>
            <p class="text-body-secondary">
              Terminy do zapamiętania: Nasz grafik koncertów
            </p>
            <a routerLink="/baza/grafik" class="btn btn-danger btn-lg">Kliknij</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>