<mat-toolbar class="nav bg-danger">
  <mat-toolbar-row class="nav">
    <a routerLink="/" *ngIf="!user">
      <img
        class="nav__brand"
        src="assets/img/Logo white transparent.png"
        routerLink="/"
        alt="logo zepsołu"
      />
    </a>
    <a routerLink="/baza" *ngIf="user">
      <img
        class="nav__brand"
        src="assets/img/Logo white transparent.png"
        routerLink="/"
        alt="logo zepsołu"
      />
    </a>
    <span class="example-spacer"></span>
    <button class="text-light" mat-button *ngIf="!user" routerLink="/logowanie">
      Zaloguj się
    </button>
    <button class="text-light" mat-button *ngIf="user" (click)="logout()">
      Wyloguj się
    </button>
  </mat-toolbar-row></mat-toolbar
>
